### Development environment configuration
[development.network]
rpc-url = "http://localhost:8000/rpc"
network-passphrase = "Standalone Network ; February 2017"
run-locally = true # automatically start the local network container, if not already running

[[development.accounts]]
name = "equitx"
default = true

[development.contracts]

# Rather than in one list, TOML allows specifying contracts in their own "sections"
[development.contracts.guess_the_number]
# Generate a contract client (NPM package) for this contract. This means:
#   - compile (build) the contract source to Wasm
#   - deploy the contract to the `network` specified above
#   - run any `init` script specified below
#   - generate an NPM client (also called the "TS Bindings") for the deployed
#     contract to the NPM workspace in `packages/*`
#   - import the contract for easy access in the frontend in `src/contracts`
#
# You can only use `client = true` when:
#   - the contract source must be part of the local Cargo workspace (in the
#     PROJECT_ROOT/contracts folder)
#   - The specified name here ("guess_the_number") must match the
#     underscored-version of the `name` in the contract's Cargo.toml.
#   - The environment is `development` or `testing`
client = true

# If your contract has a `__constructor`, specify your arguments to it here.
# These are the same arguments you could pass after the `--` in a call to
# `stellar contract deploy`
# Only available in `development` and `testing` environments
constructor_args = """
--admin equitx
"""

# Calls to the contract to make after it's deployed and initialized with
# `constructor_args`. Commands here will be appended to:
#
#     stellar contract invoke \
#         --id [this contract's id] \
#         --source [first (or `default`) account, specified above] \
#         --network [specified above] \
#         --
#
# That is, each line in this `init` script is *only* the part after the `--` in
# a `stellar contract invoke` command.
#
# To use another account as the `--source`, prefix the line with
# `STELLAR_ACCOUNT=other-account`.
#
# Only supported in `development` and `testing` environments.
after_deploy = """
reset
"""

[development.contracts.data_feed]
client = true
constructor_args = """
--admin equitx
--assets '[{"Other":"USDT"},{"Other":"XLM"}]'
--base '{"Other":"USDT"}'
--decimals 14
--resolution 300
"""
after_deploy = """
set_asset_price --price 10000000000000 --asset '{"Other":"XLM"}' --timestamp "$(date +%s)"
set_asset_price --price 100000000000000 --asset '{"Other":"USDT"}' --timestamp "$(date +%s)"
"""

[development.contracts.governance]
client = true
constructor_args = """
--admin equitx
"""

[development.contracts.xasset]
client = true
constructor_args = """
--admin equitx
--xlm_sac "$(stellar contract id asset --asset native)"
--xlm_contract "$(stellar contract alias show data_feed --network-passphrase "Standalone Network ; February 2017")"
--asset_contract "$(stellar contract alias show data_feed --network-passphrase "Standalone Network ; February 2017")"
--pegged_asset USDT
--min_collat_ratio 11000
--name "United States Dollar xAsset"
--symbol xUSD
--decimals 7
--annual_interest_rate 100
"""
after_deploy = """
STELLAR_ACCOUNT=alice open_cdp --lender alice --collateral 1700000000 --asset-lent 100000000
STELLAR_ACCOUNT=bob open_cdp --lender bob --collateral 1300000000 --asset-lent 100000000
set_min_collat_ratio --to 15000
"""

[development.contracts.orchestrator]
client = true
constructor_args = """
--admin equitx
--xlm_sac "$(stellar contract id asset --asset native)"
--xlm_contract "$(stellar contract alias show data_feed --network-passphrase "Standalone Network ; February 2017")"
--xasset_wasm_hash "$(stellar contract fetch --id $(stellar contract alias show xasset --network-passphrase "Standalone Network ; February 2017") | openssl sha256 | awk '{print $2}')"
"""
after_deploy = """
set_existing_asset_contract --asset_symbol xUSDT --asset_contract $(stellar contract alias show xasset --network-passphrase "Standalone Network ; February 2017")
"""

# Coming Soon: Specify live contracts to bind & import in this project using the given name.
# During initialization, these contracts will also be "spooned" into the development network,
# meaning that their data will match the live network at the given sequence number.
# [development.contracts.eurc]
# environment = "production"
# address = "C..."
# at-ledger-sequence = 50153603

### Testing environment configuration
[testing]
accounts = ["equitx"]

[testing.network]
rpc-url = "http://localhost:8000/rpc"
network-passphrase = "Standalone Network ; February 2017"

[testing.contracts.data_feed]
client = true

[testing.contracts.xasset]
client = true

### Staging environment configuration
[staging]
accounts = ["equitx"]

[staging.network]
rpc-url = "https://soroban-testnet.stellar.org"
network-passphrase = "Test SDF Network ; September 2015"

[staging.contracts]

# [staging.contracts.guess_the_number]
# client = true
# constructor_args = """
# --admin equitx
# """

[staging.contracts.data_feed]
id = "CCNKCM5SZ6Z6EPYEHKUOEZ235K4P4MDYEA2RGEWJ5CEPHGBADVN63BU3"
client = true

[staging.contracts.governance]
id = "CDVFJ5M3T77C4BRWFXAZSPVV63SEHXGQDHW5Q6O5RSQ5FQL33JMXAH57"
client = true

[staging.contracts.xasset]
id = "CDUOMJ5ODPDA7B2OTVB2MRT6QNIGSDMCQDQGEHKVKMWS62QYAUXNCY7C"
client = true

[staging.contracts.orchestrator]
id = ""
client = false

### Production environment configuration
[production]
accounts = ["equitxmainnet"]

[production.network]
rpc-url = "https://rpc.lightsail.network/"
network-passphrase = "Public Global Stellar Network ; September 2015"

[production.contracts]
# soroban-atomic-swap-contract = { id = "C987..." }
# soroban-auth-contract = { id = "C876..." }
# soroban-errors-contract = { id = "C765..." }
# soroban-hello-world-contract = { id = "C654..." }
# soroban-increment-contract = { id = "C543..." }
# soroban-token-contract = { id = "C432..." }
# eurc = { id = "C321..." }
